@page "/songs"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using OurRadio.Models
@using OurRadio.Data
@using System.Threading.Tasks
@using TagLib
@inject ILogger<Songs> Logger
@inject IWebHostEnvironment Environment
@inject SongService SongService
@inject RadioService RadioService
@inject IJSRuntime JSRuntime

<PageTitle>Songs</PageTitle>

<h1>Songs</h1>

<button class="btn btn-primary mb-3" @onclick="ShowAddSongForm">Add New Song</button>

@if (isAddSongModalOpen)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal fade show d-block" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Song</h5>
                    <button type="button" class="btn-close" @onclick="CloseAddSongForm" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <InputText class="form-control" @bind-Value="newSong.Title" />
                    </div>
                    @* TODO: need to figure out duration of song server side instead                 *@
                    <div class="mb-3">>
                        <label class="form-label">Audio File</label>
                        <InputFile OnChange="LoadFiles" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseAddSongForm">Cancel</button>
                    <button class="btn btn-primary" @onclick="SaveNewSong" disabled="@isSaving">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@if (isAddToRadioModalOpen)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal fade show d-block" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Song to Radio</h5>
                    <button type="button" class="btn-close" @onclick="CloseAddToRadioForm" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (addToRadioErrorOccurred)
                    {
                        <div class="alert alert-danger" role="alert">
                            <p>There was an error adding the song to the radio. Please make sure the song isn't already added.</p>
                        </div>
                    }
                    <div class="mb-3">
                        <label class="form-label">Radio</label>
                        <InputSelect class="form-select" @bind-Value="newRadioSong.RadioId">
                            <option value="0">-- Select Radio --</option>
                            @if (radios is not null)
                            {
                                @foreach (var radio in radios)
                                {
                                    <option value="@radio.Id">@radio.Name</option>
                                }
                            } else {
                                <option disabled>Loading radios...</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseAddToRadioForm">Cancel</button>
                    <button class="btn btn-primary" @onclick="SaveSongToRadio" disabled="@isSaving">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@if (songs == null)
{
    <p><em>Loading...</em></p>
}
else if (songs.Count == 0)
{
    <p><em>No songs found.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Filename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in songs)
            {
                <tr>
                    <td>@song.Title</td>
                    <td>@song.DurationSeconds seconds</td>
                    <td>@song.Filename</td>
                    <td>
                        <AuthorizeView>
                            <Authorized>
                                <button class="btn btn-primary btn-sm me-2" @onclick="() => ShowAddToRadioForm(song.Id)">Add to Radio</button>
                                <button class="btn btn-danger btn-sm" @onclick="() => DeleteSong(song.Id)">Delete</button>
                            </Authorized>
                            <NotAuthorized>
                                <button class="btn btn-primary btn-sm me-2" disabled>Add to Radio</button>
                                <button class="btn btn-danger btn-sm" disabled>Delete</button>
                            </NotAuthorized>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Song>? songs;
    @* Modal stuff *@
    private bool isAddSongModalOpen;
    private bool isAddToRadioModalOpen;
    private bool isSaving;
    private Song newSong = new();
    @* Upload stuff *@
    private List<IBrowserFile> loadedFiles = [];
    private string uploadedFilename = string.Empty;
    private int maxFileSize = 1024 * 1024 * 50;
    @* add to radio stuff *@
    private RadioSong newRadioSong = new();
    private List<Radio>? radios;
    private bool addToRadioErrorOccurred = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadSongs();
    }

    private async Task LoadSongs()
    {
        songs = await SongService.GetAllSongsAsync();
    }

    private void ShowAddSongForm()
    {
        newSong = new Song();
        uploadedFilename = string.Empty;
        isAddSongModalOpen = true;
    }

    private void CloseAddSongForm()
    {
        isAddSongModalOpen = false;
        @* Delete unused song files *@
        if (!string.IsNullOrEmpty(uploadedFilename))
        {
            var path = Path.Combine(Directory.GetParent(Environment.ContentRootPath)!.FullName,
                Environment.EnvironmentName, "unsafe_uploads",
                uploadedFilename);
            if (System.IO.File.Exists(path))
            {
                System.IO.File.Delete(path);
                Logger.LogInformation("Deleted unused uploaded file: {Filename}", uploadedFilename);
            }
        }
    }

    private async Task ShowAddToRadioForm(int songId)
    {
        newRadioSong = new RadioSong { SongId = songId };
        radios = await RadioService.GetAllRadiosAsync();
        songs = await SongService.GetAllSongsAsync();
        addToRadioErrorOccurred = false;
        isAddToRadioModalOpen = true;
    }

    private void CloseAddToRadioForm()
    {
        isAddToRadioModalOpen = false;
        addToRadioErrorOccurred = false;
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isSaving = true;
        loadedFiles.Clear();

        var file = e.File;
        try
        {
            var trustedFileName = Path.GetRandomFileName() + Path.GetExtension(file.Name);
            var path = Path.Combine(Directory.GetParent(Environment.ContentRootPath)!.FullName,
                Environment.EnvironmentName, "unsafe_uploads",
                trustedFileName);

            await using (FileStream fs = new(path, FileMode.Create))
            {
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
            }

            loadedFiles.Add(file);
            uploadedFilename = trustedFileName;
            newSong.Filename = trustedFileName;

            @* Compute duration of song from file *@
            using (var tfile = TagLib.File.Create(path))
            {
                int duration = (int)tfile.Properties.Duration.TotalSeconds;
                Logger.LogInformation("Computed duration of file {Filename}: {Duration} seconds",
                    trustedFileName, duration);
                newSong.DurationSeconds = (int)tfile.Properties.Duration.TotalSeconds;
            }

            Logger.LogInformation(
                "Unsafe Filename: {UnsafeFilename} File saved: {Filename}",
                file.Name, trustedFileName);
        }
        catch (Exception ex)
        {
            Logger.LogError("File: {Filename} Error: {Error}",
                file.Name, ex.Message);
        }

        isSaving = false;
    }

    private async Task SaveNewSong()
    {
        if (string.IsNullOrWhiteSpace(newSong.Title))
        {
            return;
        }

        isSaving = true;
        await SongService.AddSongAsync(newSong);
        isSaving = false;
        isAddSongModalOpen = false;
        await LoadSongs();
    }

    private async Task DeleteSong(int id)
    {
        if (await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this song?"))
        {
            await SongService.DeleteSongAsync(id);
            await LoadSongs();
        }
    }

    private async Task SaveSongToRadio()
    {
        if (newRadioSong.RadioId == 0 || newRadioSong.SongId == 0)
        {
            return;
        }

        isSaving = true;
        try
        {
            await RadioService.AddSongToRadioAsync(newRadioSong.RadioId, newRadioSong.SongId);
            isSaving = false;
            isAddToRadioModalOpen = false;
        }
        catch (DbUpdateException ex)
        {
            Logger.LogWarning("Error adding song to radio: {Error}", ex.Message);
            isSaving = false;
            addToRadioErrorOccurred = true;
        }
        catch (InvalidOperationException ex)
        {
            Logger.LogWarning(ex.Message);
            isSaving = false;
            addToRadioErrorOccurred = true;
        }
    }
}
